.featuresWrapper {
  color: var(--main);
  border-radius: 10px;
  padding: 44px 52px;
  background: var(--inputs);
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-width: 631px;
}

.categoryList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  svg {
    width: 20px;
    height: 20px;
  }
}

.categoryItem {
  border-radius: 100px;
  width: fit-content;
  padding: 12px 18px;
  height: 48px;
  background: var(--badges);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.featureText {
  font-weight: 500;
  color: var(--main);
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}

.detailsList {
  font-weight: 500;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.detailItem {
  display: flex;
  justify-content: space-between;
}
