.header {
  background-color: var(--inputs);
  > div {
    width: 100%;
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  font-weight: 800;
  color: var(--main);
  font-size: larger;
  span {
    color: var(--text);
  }
}

.navigation {
  display: flex;
  gap: 32px;
  margin: 0 auto;
}

.link {
  font-weight: 500;
}

.link:hover {
  color: var(--button-hover);
}

.linkActive {
  color: var(--button-hover);
}
