.imageWrapper {
  background-image: url("/hero-image.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(100vh - 72px);
  > div {
    height: inherit;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: var(--inputs);
  margin-bottom: 16px;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--inputs);
  margin-bottom: 40px;
}

.image {
  pointer-events: none;
}
