.cardWrapper {
  color: var(--main);
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 60px;
}

.nameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  svg {
    width: 16px;
    height: 16px;
  }
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  margin-bottom: 8px;
}

.ratingWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  div:first-of-type {
    display: flex;
    align-items: center;
    svg {
      fill: var(--rating);
    }
  }
}

.ratingLink {
  text-decoration: underline;
  line-height: 150%;
}

.ratingLink:hover {
  text-decoration: none;
}

.locationWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  margin-top: 16px;
}

.imageWrapper {
  display: flex;
  gap: 48px;
}

.image {
  border-radius: 10px;
}

.description {
  line-height: 150%;
  color: var(--text);
}

.navWrapper {
  display: flex;
  gap: 40px;
  position: relative;
  margin-bottom: 44px;
  border-bottom: 1px solid var(--gray-light);
}

.featuresBtn::before {
  content: "";
  width: 85px;
  height: 5px;
  background-color: red;
  position: absolute;
  top: 46px;
}

.reviewsBtn::before {
  content: "";
  width: 85px;
  height: 5px;
  background-color: red;
  position: absolute;
  top: 46px;
}

.navBtn {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 24px;
}

.navBtn:hover {
  color: var(--button-hover);
}
