:root {
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background: var(--white);
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

fieldset {
  border: none;
}

ul {
  list-style: none;
}

hr {
  border: 1px solid var(--gray-light);
}

input {
  outline: none;
  border: none;
  font-family: inherit;
}

.container {
  padding: 0 64px;
  margin: 0 auto;
  max-width: 1440px;
}

.button {
  background-color: var(--button);
  color: var(--white);
  line-height: 150%;
  font-weight: 500;
  border-radius: 200px;
  padding: 16px 46px;
  text-align: center;
  max-width: 173px;
}

.button:hover {
  background-color: var(--button-hover);
}
